@import '../../colors.scss';

.author__wrapper {
    display: flex;
    padding: 6vh 6vw 7vh 6vw;
    gap: 5vw;
}

#authorsPic {
    min-width: 28vw;
    height: 80vh;
    box-shadow: 0.75vh 0.75vh 0 $textColor;
    border: 0.5vh solid $textColor;
    filter: saturate(0.65);
}

.AuthorsName {
    font-size: 10vh;
    line-height: 11.5vh;
    margin-top: 5vh;
    margin-bottom: 2vh;
    text-shadow: 0.75vh 0.75vh 0 $textColorShadow;
    font-family: "Outfit-Bold";
}

.AuthorBio {
    font-size: 2.5vh;
    margin-bottom: 3.5vh;
    margin-top: 2vh;
    width: 45vw;
    padding: 2vh 1.5vw;
    box-shadow: 0.75vh 0.75vh 0 $textColor;
    border: 0.5vh solid $textColor;
    font-family: "Outfit-Regular";
}

.BirthDeathAuthor {
    font-size: 3vh;
    font-family: "Outfit-Medium";
}

@media screen and (max-width: 768px){
    .author__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    
    #authorsPic {
        margin-top: 5vh;
        width: 85vw;
        height: 57vh; 
    }

    .AuthorsInformations {
        width: 90vw;
    }
    
    .AuthorsName {
        font-size: 80px;
        line-height: 8vh;
        margin-top: 1vh;
    }
    
    .AuthorBio {
        width: 100%;
        padding: 2vh 3vw;
        margin-top: 3vh;
        line-height: 3.5vh;
        font-size: 24px;
    }

    .BirthDeathAuthor {
        font-size: 23px;
    }
}