@import '../../colors.scss';

.author__wrapper {
    display: flex;
    padding: 6vh 6vw 4vh 6vw;
    gap: 5vw;
}

#authorsPic {
    width: 30vw;
    height: 80vh;
    box-shadow: 0.75vh 0.75vh 0 $textColor;
    border: 0.3vh solid $textColor;
    filter: brightness(0.85);
}

.AuthorsName {
    font-weight: 800;
    font-size: 12vh;
    line-height: 11.5vh;
    margin-top: 5vh;
    margin-bottom: 2vh;
    text-shadow: 1vh 1vh 0 rgba(0, 0, 0, 1);
}

.AuthorBio {
    font-weight: 400;
    font-size: 2.5vh;
    margin-bottom: 3.5vh;
    margin-top: 2vh;
    width: 45vw;
    text-align: justify;
    padding: 2vh 1.5vw;
    box-shadow: 0.75vh 0.75vh 0 $textColor;
    border: 0.3vh solid $textColor;
}

.BirthDeathAuthor {
    font-size: 3vh;
    font-weight: 700;
}

@media screen and (max-width: 768px){
    .author__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    
    #authorsPic {
        margin-top: 5vh;
        width: 90vw;
        height: 57vh; 
    }

    .AuthorsInformations {
        width: 90vw;
    }
    
    .AuthorsName {
        font-weight: 800;
        font-size: 11vh;
        line-height: 10vh;
        margin-top: 1vh;
    }
    
    .AuthorBio {
        width: 100%;
        padding: 2vh 3vw;
        margin-top: 3vh;
        line-height: 3.5vh;
    }

    .BirthDeathAuthor {
        font-size: 2.5vh;
        font-weight: 700;
    }
}