@import '../../colors.scss';

.booklist {
    display: grid;
    font-family: "Outfit-Medium";
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 35vh);
    grid-auto-rows: 1fr;
    grid-gap: 0.7vh 0.7vw;
}

.titleCategory {
    position: relative;
    font-size: 20vh;
    top: 8vh;
    left: 6vw;
    width: fit-content;
    font-weight: 900;
    line-height: 25vh;
    color: $bgColor;
    background: linear-gradient(to bottom, $textColor, transparent 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1vh transparent;
    font-family: "Outfit-Bold";
    pointer-events: none;
}

@media screen and (max-width: 768px){

    .booklist {   
        display: grid;
        font-family: "Outfit-Medium";
        justify-content: center;
        grid-template-columns: repeat(auto-fill, 180px);
        grid-auto-rows: 1fr;
        grid-gap: 6px 6px;
    }

    .titleCategory {
        position: relative;
        font-size: 9vh;
        height: 10vh;
        left: 30px;
        top: -40px;
        color: $textColor;
        font-family: 'Outfit-Black';
        background: none;
    }
}

#last {
    margin-top: 10vh;
}