@import '../../colors.scss';

.booklist_grid {
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
    width: 90vw;
    margin: 0 auto 2vh auto;
}

.titleCategory {
    position: absolute;
    font-size: 20vh;
    top: 14vh;
    left: 6vw;
    font-weight: 900;
    line-height: 25vh;
    color: $bgColor;
    background: linear-gradient(to bottom, $textColor, transparent 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1vh transparent;

}

@media screen and (max-width: 768px){
    .booklist_grid {
        width: 96vw;
        gap: 3vw;
    }
    .titleCategory {
        font-size: 10vh;
        left: 3vw;
        top: 2vh;
        background: linear-gradient(to bottom, $textColor, transparent 65%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-stroke: 1vh transparent;
    }
}