@import '../../colors.scss';

.navbar {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7vh;
    padding: 2vh 3vw 0 3vw;
    .navbarRightSide__wrapper {
        display: flex;
        gap: 1vw;
        align-items: center;
        #searchBar {
            color: $textColorSearch;
            background-color: $bgColorSearch;
            border: none;
            border-radius: 0.4vw;
            padding: 1vh 1vw 1vh 1vw;
            font-size: 2vh;
            width: 15vw;
            font-family: 'Outfit-Regular';
            &:focus {
                color: $textColorSearch;
            }
        }
        .toggleTheme {
            height: 3vh;
            width: 1.5vw;
            background-color: transparent;
            border: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.logo {
    font-size: 3vh;
    font-family: 'Outfit-Bold';
}


.moon {
    height: 2vh;
    width: 2vh;
}

@media screen and (max-width: 768px) {
    #searchBar {
        display: none;
    }

    .logo {
        margin-left: 9px;
        font-size: 20px;
    }

    .navbarRightSide__wrapper {
        .toggleTheme {
            margin-right: 9px;
            height: 30px !important;
            width: 30px !important;
        }
    }

    .moon {
        height: 20px !important;
        width: 20px !important;
    }
}