@import '../../colors.scss';


#searchBarPhone {
    display: none;
}

@media screen and (max-width: 768px) {
    #searchBarPhone {
        display: block;
        position: fixed;
        z-index: 100;
        color: $textColor;
        background-color: $bgColorSearch;
        border: none;
        border-radius: 10vw;
        padding: 9px 20px 9px 20px;
        width: 25vw;
        text-align: center;
        font-size: 1.7vh;
        bottom: 5vh;
        left: 50%;
        backdrop-filter: blur(10px);
        transform: translateX(-50%);
        transition: padding 0.25s ease-in-out, width 0.25s ease-in-out, font-size 0.25s ease-in-out;
        font-family: Outfit;
        &:focus {
            color: #9cb0c2;
            width: 60vw;
            font-size: 3vh;
            padding: 15px 10px 15px 10px;
        }
    }
}
