$bgColor: #4c565f;
$bgColorLight: #eef7ff;
$bgColorSearch: #7f8f9e71;
$bgColorSearchLight: #dbebf9;
$textColor: #7f8f9e;
$textColorShadow: #7f8f9e50;
$textColorSearch: #9cb2c4;
$shadowColor: rgba(226, 178, 178, 0.5);
$textColorLight: #cbdcea;
$textColorShadowLight: rgba(203, 220, 234, 0.33);
$textColorLightSearch: #b4c4d1;
$textColorGradientLight: #cbdcea;

//color scheme light :
$color1: #FFFFFF;
$color2: #F8F8FF;
$color3: #F2F5FD;
$color4: #E7EFF8;
$color5: #cbdcea;

//color scheme dark :
$color1: #4c565f;
$color2: #606d78;
$color3: #7f8f9e;
$color4: #9cb2c4;
$color5: #a4bbcf;