@import '../../colors.scss';

.singleBook__container {
    position: relative;
}

.singleBook__title {
    position: absolute;
    bottom: 4vh;
    left: 2vh;
    font-weight: 600;
    font-size: 3vh;
    margin: 0 0.75vw 0 0.75vw;
    color: rgba(255, 255, 255, 0.757);
}

#bookCover {
    width: 17vw;
    height: 50vh;
    filter: grayscale(0.75);
    transform: scale(1);
    transition: filter 0.25s ease, transform 0.25s ease;
}

.singleBook__img::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.157)    , rgb(0, 0, 0));
}



.bookCard {
    transition: filter 0.5s ease;
    overflow: hidden;
    border-radius: 1vh;

    &:hover #bookCover {
        transform: scale(1.1);
        filter: grayscale(0.25);
    }

    &:focus {
        outline: none;
    }

    &:focus #bookCover  {
        filter: grayscale(0.25);
        transform: scale(1.1);
    }
}

/* BOOK DETAILS */

.bookDetails__container {
    display: flex;
    position: relative;
    overflow-x: hidden;
    padding: 6vh 6vw 4vh 6vw;
    gap: 5vw;
}

.bookDetailsVisuals {
    padding-top: 3vh;
}

.backCover {
    width: 30vw;
    height: 80vh;
    position: relative;
    display: flex;
    filter: brightness(0.85);
    &::after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(1vw);
        border-radius: 0.5vw;
    }
}

#backCoverImg {
    width: 100%;
    height: 100%;
    border-radius: 0.5vw;
    filter: drop-shadow(0 0 1vw rgba(3, 3, 3, 0.5));
}

#frontCoverImg {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 1vw rgba(0, 0, 0, 0.5));
    border-radius: 1vw;
    width: 20vw;
    height: 50vh;
}

.bookTitle {
    font-weight: 800;
    font-size: 10vh;
    line-height: 11.5vh;
    margin-bottom: 5vh;
    text-shadow: 1vh 1vh 0 rgba(0, 0, 0, 1);
}

.bookDescription {
    font-weight: 400;
    font-size: 2.5vh;
    margin-bottom: 3.5vh;
    width: 45vw;
    text-align: left;
    padding: 2vh 1.5vw;
    box-shadow: 0.75vh 0.75vh 0 $textColor;
    border: 0.3vh solid $textColor;
}

.subjectBox {
    width: 24vw;
    padding: 2vh 1.5vw;
    box-shadow: 0.75vh 0.75vh 0 $textColor;
    border: 0.3vh solid $textColor;
    margin-bottom: 3.5vh;
}

.bookPlaces {
    margin-bottom: 1vh;
    font-size: 1.5vh;
}

.bookTime {
    margin-bottom: 1vh;
    font-size: 1.5vh;
}

.bookAuthor {
    font-size: 1.5vh;
}

.importantInfo {
    font-size: 2vh;
    font-weight: 700;
}

#readingPerson {
    position: absolute;
    bottom: 0;
    right: -2vw;
    pointer-events: none;
    z-index: 100;
    width: 25vw;
}

#readMoreBtn {
    font-weight: 600;
    font-size: 2vh;
    background-color: transparent;
    border: none;
    &:hover {
        text-decoration: underline;
    }
}

.authors {
    margin-top: 3vh;
    margin-bottom: 3vh;
    position: relative;
}

.authorContainer {
    position: relative;
    width: 11vw;
    box-shadow: 0.75vh 0.75vh 0 $textColor;
    border: 0.3vh solid $textColor;
    overflow: hidden;
    &:hover #authorPic {    
        transform: scale(1.075);
    }
}

#authorPic {
    width: 100%;
    height: 100%;
    transition: transform 0.25s ease;
 }
 
 .authorName {
    position: absolute;
    bottom: 1vh;
    left: 13vw;
    font-size: 10vh;
    font-weight: 900;
    width: 14vw;
    line-height: 8vh;
    text-shadow: 1vh 1vh 0 rgba(0, 0, 0, 1);
 }

 @media screen and (max-width: 768px){
    #bookCover {
        width: 46vw;
        height: 40vh;
    }

    .bookDetails__container {
        flex-direction: column;
        overflow-x: hidden;
        padding: 3vh 6vw 4vh 6vw;
        gap: 5vw;
    }

    .backCover {
        width: 90vw;
        height: 80vh;
        &::after {
            border-radius: 3vw;
        }
    }
    
    #backCoverImg {
        border-radius: 3vw;
    }
    
    #frontCoverImg {
        border-radius: 1.5vw;
        width: 70vw;
        height: 50vh;
    }

    .bookDetailsVisuals {
        padding-top: 0vh;
    }

    .bookTitle {
        font-weight: 800;
        font-size: 12vh;
        line-height: 10vh;
        margin-bottom: 5vh;
        text-shadow: 1vh 1vh 0 rgba(0, 0, 0, 1);
    }
    
    .bookDescription {
        font-weight: 400;
        font-size: 2.5vh;
        margin-bottom: 3.5vh;
        width: 87vw;
        padding: 2vh 4vw;
        line-height: 3.2vh;
    }
    
    .subjectBox {
        width: 87vw;
        padding: 2vh 1.5vw;
        box-shadow: 0.75vh 0.75vh 0 $textColor;
        border: 0.3vh solid $textColor;
        margin-bottom: 3.5vh;
    }

    .authorContainer {
        width: 87vw;
        overflow: hidden;
    }
     
     .authorName {
        position: absolute;
        bottom: 2vh;
        left: 2vw;
     }
}